body {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ),
    url(https://i.pinimg.com/originals/8f/14/57/8f14578ef69a4c53352955d1e072eda6.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
}

.home{
   display: flex;
   align-items: center;
   justify-content: center;
   gap : 2rem;
   flex-direction: column;
   margin-top : 2rem;
}

.home h2{
    background-color: white;
    color : black;
     padding : 1.2rem 7rem;
    text-align: center;
    border-radius: 40px;
    
    font-size: 3rem;
}